<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.hsy.mapper.BoardMapper">
    <resultMap id="boardResultMap" type="Board">
        <id column="BOARD_SEQ" property="seq" javaType="java.lang.Long"/>
        <result column="BOARD_RE_REF" property="group"/>
        <result column="BOARD_WRITER" property="writer"/>
        <result column="BOARD_TITLE" property="title"/>
        <result column="BOARD_CONTENT" property="content"/>
        <result column="BOATD_HITS" property="hits"/>
        <result column="DEL_YN" property="delete"/>
        <result column="INS_USER_ID" property="insertId"/>
        <result column="INS_DATE" property="insertDate" javaType="java.time.LocalDateTime"/>
        <result column="UPD_USER_ID" property="updateId"/>
        <result column="UPD_DATE" property="updateDate" javaType="java.time.LocalDateTime"/>
    </resultMap>

    <select id="getBoardList" resultMap="boardResultMap">
        Select *
        FROM BOARD;
    </select>

    <select id="getBoardOne" parameterType="java.lang.Long" resultMap="boardResultMap">
        select *
        from board
        where BOARD_SEQ = #{seq}
    </select>

    <insert id="writeBoard" parameterType="board">
        insert into board (BOARD_RE_REF, BOARD_WRITER, BOARD_TITLE, BOARD_CONTENT, INS_USER_ID, INS_DATE)
        values (#{group}, #{writer}, #{title}, #{content}, #{insertId}, now())
    </insert>

    <update id="updateBoard" parameterType="board">
        UPDATE BOARD
        SET BOARD_RE_REF  = #{group},
            BOARD_TITLE   = #{title},
            BOARD_CONTENT = #{content},
            UPD_USER_ID   = #{updateId},
            UPD_DATE      = now()
        WHERE BOARD_SEQ = #{seq}
    </update>

    <update id="deleteBoard" parameterType="java.lang.Long">
        UPDATE BOARD
        SET DEL_YN  = 'Y'
        WHERE BOARD_SEQ = #{seq}
    </update>

</mapper>